@media  screen and (max-width:950px){
    @font-face {
    font-family: 'Inter-Regular';
    src: url('https://cdn.shopify.com/s/files/1/0719/4181/6562/files/Inter_d6805ef2-f7cc-42d6-9447-33d1100dc140.woff?v=1728370024') format('woff'),
     url('https://cdn.shopify.com/s/files/1/0719/4181/6562/files/Inter_cdbced0f-a513-4469-9a4e-2b48ed88e952.woff2?v=1728370024') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    .mobile{
        display:none!important;
    }
    /* ================marquee-start==================== */
    .cust-marquee-content-main{
        height:5vw;
        z-index:5;
        transition:top 0.4s ease;
    }
    .cust-marquee-content-main.hidden{
        top:-20vw;
        transition:top 0.4s ease;
    }
    .cust-marquee-content-inner{
        column-gap: 0.8%;
    }
    .cust-marquee-content-inner>li{
        font-size:2.6vw;
        opacity:0.85;
        font-family: 'Inter-Regular';
    }
    /* ================marquee-end==================== */
    /* ================header-start==================== */
    .cust-header-wrapper{
        top:5vw;
        height:9.8vw;
        transition:top 0.4s ease;
    }
    .cust-header-wrapper.hidden{
        top:-12vw;
        overflow:hidden;
        transition:top 0.4s ease;
    }
    .r-cust-header-left{
        display:block;
        height:100%;
        width:48%;
        background-color:transparent;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        padding-block:1.2%;
        padding-inline-start:3%;
    }
    .r-cust-header-left svg{
        height:100%;
        width:32%;
    }
    .r-cust-header-right{
        height:100%;
        width:52%;
        background-color:transparent;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
    }
    .r-cust-header-right-search{
        height:100%;
        flex:1;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
    }
    .r-cust-header-right-search a{
        text-decoration:none;
        color:black;
        text-transform: uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    .r-cust-header-right-menu{
        height:100%;
        flex:1;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        justify-content:center;
        align-items:center
    }
    .r-cust-header-right-menu a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    .r-cust-header-right-bag{
        height:100%;
        flex:1;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .r-cust-header-right-bag a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    /* ================header-end==================== */
    /* =====================r-shop-all-start=================== */
    .r-shop-all{
        height:160vw;
        width:100%;
    }
    .r-shop-all .r-shop-all-content{
        height:28%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content:flex-end;
        padding-bottom:10%;
        padding-left:2%;
    }
    .r-shop-all .r-shop-all-content p{
        font-size:3.5vw;
        text-transform:uppercase;
        font-family: 'Inter-Regular';
        font-family: 'Inter-Regular';
    }
    .r-shop-all .r-shop-all-img-wrapper{
        height:72%;
        width:100%;
    }
    .r-shop-all .r-shop-all-img-wrapper img{
        height:100%;
        width:100%;
    }
    /* =====================r-shop-all-end=================== */
    /* ================cust-products-header-start=============== */
    .cust-products-header {
        height: 12vw;
        width: 100%;
        padding-inline: 10%;
        border-block: solid 0.1vw rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        /* overflow-x: auto; */
        column-gap: 3.5vw;
        white-space: nowrap;
    }
    .cust-products-header a{
        font-size:2.2vw;
        font-family: 'Inter-Regular';
    }
    /* ================cust-products-header-end================== */
    /* ================cust-products-start================= */
    .cust-products {
        grid-template-rows: repeat(20, auto);
        grid-template-columns: repeat(2, 1fr);
    }
    .cust-products .products{
        height:65vw;
    }
    .cust-products .products .images img{
        height:84%;
    }
    .cust-products .products .images .info{
        height:16%;
        padding-left:2%;
    }
    .cust-products .products .images .info .text-base-info{
        width:82%;
        row-gap:3%;
        justify-content: flex-end;
        padding-block-end: 2.5%;
    }
    .cust-products .products .images .info .text-base-info p{
        font-size:2.2vw;
        font-family: 'Inter-Regular';
    }
    .cust-products .products .images .info .plus-button{
        width:18%;
        font-size:5vw;
    }
    /* ================cust-products-end============= */
    /* ==============natty-footer-section-start================= */
    .r-natty-footer{
        height:fit-content;
        width:100%;
        display:grid;
        grid-template-rows:repeat(8 ,auto);
        grid-template-columns:repeat(1,1fr);
        background-color:#fff;
        position:relative;
        z-index:2;
    }
    .natty-footer-logo{
        height:60vw;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
    .natty-footer-logo .logo{
        height:fit-content;
        width:fit-content;
        display:flex;
        position:absolute;
    }
    .natty-footer-logo .logo svg:first-child{
        height:30vw;
        width:30vw;
        animation-name:rotate-logo;
        animation-duration:20s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
        animation-delay:0s;
    }
    @keyframes rotate-logo{
        from{
            transform:rotate(0);
        }
        to{
            transform:rotate(360deg);
        }
    }
    .natty-footer-logo .logo svg:last-child{
        height:22vw;
        width:22vw;
        position:absolute;
        top:4vw;
        left:4vw;
    }
    .ten-percent-community{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .ten-percent-community .header{
        height:16vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        row-gap:10%;
        align-items:flex-start;
        padding-inline-start:5%;
        position:relative;
    }
    .ten-percent-community .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .ten-percent-community .header p:first-child{
        color:black;
        font-size:2.5vw;
        line-height:100%;
        text-transform:uppercase;
    }
    .ten-percent-community .header p:last-child{
        color:black;
        font-size:2.5vw;
        opacity:0.6;
        line-height:100%;
        text-transform:uppercase;
    }
    .collections{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .collections .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .collections .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        /* display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;
        row-gap: 4vw; */
        overflow:hidden;
    }
    .active .body{
        height:fit-content;
        padding-block-end:6%;
    }
    .collections .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .collections .body li:first-child{
        margin-block-start:0!important;
    }
    .collections .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
        font-family: 'Inter-Regular';
    }
    .collections .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .collections.active .header::before{
        content:"-";
    }
    .collections .header p{
        font-size:2.5vw;
        text-transform:uppercase;
        font-weight:700;
        font-family: 'Inter-Regular';
    }
    .customer-services{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .customer-services .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .customer-services .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .customer-services.active .header::before{
        content:"-";
    }
    .customer-services .header p{
        font-size:2.5vw;
        text-transform:uppercase;
        font-weight:700;
        font-family: 'Inter-Regular';
    }
    .customer-services .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        overflow:hidden;
    }
    .customer-services .body li:first-child{
        margin-block-start:0!important;
    }
    .customer-services .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .customer-services .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
        font-family: 'Inter-Regular';
    }
    .brand{
        height:fit-content;
        width:1005;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .brand .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .brand .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .brand.active .header::before{
        content:"-";
    }
    .brand .header p{
        text-transform:uppercase;
        font-size:2.5vw;
        font-weight:700;
        font-family: 'Inter-Regular';
    }
    .brand .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        overflow:hidden;
    }
    .active .body{
        height:fit-content;
        padding-block-end:6%;
    }
    .brand .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .brand .body li:first-child{
        margin-block-start:0!important;
    }
    .brand .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
        font-family: 'Inter-Regular';
    }
    .bottom-info{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .bottom-info .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
    }
    .bottom-info .header a{
        text-decoration:none;
        text-transform:uppercase;
        color:#000;
        font-size:2.5vw;
        opacity:0.8;
        font-family: 'Inter-Regular';
    }
    .bottom-info .body{
        list-style-type:none;
        padding-block-end:6%;
    }
    .r-natty-footer .details{
        height:16vw;
        width:100%;
        border-top:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items:center;
        padding-inline-end:5%;
    }
    .r-natty-footer .details a{
        font-size:2.2vw;
        text-transform:uppercase;
        color:#000;
        font-family: 'Inter-Regular';
    }
    .natty-footer-video{
        height:80vw;
    }
    /* ==============natty-footer-section-end================= */
}