@media  screen and (max-width:950px) {
    .mobile{
        display:none!important;
    }
    /* ================marquee-start==================== */
    .cust-marquee-content-main{
        height:5vw;
        z-index:5;
    }
    .cust-marquee-content-inner{
        column-gap: 0.8%;
    }
    .cust-marquee-content-inner>li{
        font-size:2.6vw;
        opacity:0.85;
    }
    /* ================marquee-end==================== */
    /* ================header-start==================== */
    .cust-header-wrapper{
        top:5vw;
        height:9.8vw;
    }
    .r-cust-header-left{
        display:block;
        height:100%;
        width:48%;
        background-color:transparent;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        padding-block:1.2%;
        padding-inline-start:3%;
    }
    .r-cust-header-left svg{
        height:100%;
        width:32%;
    }
    .r-cust-header-right{
        height:100%;
        width:52%;
        background-color:transparent;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
    }
    .r-cust-header-right-search{
        height:100%;
        flex:1;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;
    }
    .r-cust-header-right-search a{
        text-decoration:none;
        color:black;
        text-transform: uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    .r-cust-header-right-menu{
        height:100%;
        flex:1;
        border-inline-end:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        justify-content:center;
        align-items:center
    }
    .r-cust-header-right-menu a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    .r-cust-header-right-bag{
        height:100%;
        flex:1;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .r-cust-header-right-bag a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
        font-size:2.6vw;
        font-family: 'Inter-Regular';
    }
    .hero-section-image-wrapper .content-wrapper{
        height:fit-content;
        width:fit-content;
        position:absolute;
        top:60%;
        left: 35%;
        display:flex;
        flex-direction:column;
        row-gap:0.46vw;
    }
    .hero-section-controll-buttons {
        height: 3vw;
        width: fit-content;
        position: fixed;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 20%;
        list-style-type: none;
    }
    .hero-section-image-wrapper .content-wrapper .inner-content:first-child{
        padding-inline-start:18vw;
    }
    .hero-section-image-wrapper .content-wrapper .inner-content:first-child p{
        font-family: 'Inter-Regular';
        font-size:5vw;
        text-transform:uppercase;
        font-weight:600;
        line-height:100%;
        mix-blend-mode:difference;
        color:white;
    }
    .hero-section-image-wrapper .content-wrapper .inner-content:nth-child(2) p{
        text-transform:uppercase;
        font-family: 'Inter-Regular';
        font-weight:700;
        font-size:6vw;
        line-height: 100%;
        color:white;
        mix-blend-mode:difference;
    }
    .hero-section-image-wrapper .content-wrapper .inner-content:last-child{
        padding-block-start:0.3vw;
        padding-inline-start:5vw;
    }
    .hero-section-image-wrapper .content-wrapper .inner-content:last-child a{
        text-decoration:none;
        font-family: 'Inter-Regular';
        text-transform:uppercase;
        color:#fff;
        line-height:100%;
        mix-blend-mode:difference;
        font-size: 5vw;
    }
    .hero-section-image-wrapper:nth-child(3) .content-wrapper .inner-content:last-child{
        padding-left: 1.2vw;
    }
    .hero-section-image-wrapper:nth-child(3) .content-wrapper .inner-content:last-child{
        padding-left:1.5vw;
    }
    .hero-section-image-wrapper:nth-child(3) .content-wrapper .inner-content:last-child a{
        font-size:4vw;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper{
        height:fit-content;
        width:fit-content;
        position:absolute;
        top:60%;
        left:15%;
        display:flex;
        flex-direction:column;
        row-gap:0.46vw;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper .inner-content:first-child{
        padding-inline-start:50vw;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper .inner-content:first-child p{
        font-family: 'Inter-Regular';
        font-size:4vw;
        text-transform:uppercase;
        font-weight:600;
        line-height:100%;
        mix-blend-mode:difference;
        color:white;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper .inner-content:nth-child(2) p{
        text-transform:uppercase;
        font-family: 'Inter-Regular';
        font-weight:700;
        font-size:5vw;
        line-height: 100%;
        color:white;
        mix-blend-mode:difference;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper .inner-content:last-child{
        padding-block-start:0.3vw;
        padding-inline-start:28vw;
    }
    .hero-section-image-wrapper:nth-child(4) .content-wrapper .inner-content:last-child a{
        text-decoration:none;
        font-family: 'Inter-Regular';
        text-transform:uppercase;
        color:#fff;
        line-height:100%;
        mix-blend-mode:difference;
        font-size:5vw;
    }
    /* ================header-end==================== */
    /* ================winter-collections-start================== */
    .r-winter-collections{
        margin-top:14.8vw;
        height:fit-content;
        width:100%;
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(9,auto);
    }
    .r-winter-collections-items{
        height:58vw;
        border-top:solid 0.1vw rgba(0,0,0,1);
        border-right:solid 0.1vw rgba(0,0,0,1);
    }
    .r-winter-collections-items:first-child{
        grid-row:1/2;
        grid-column:1/3;
        height:62vw;
    }
    .r-winter-collections-items:nth-child(2){
        grid-row:2/3;
        grid-column:1/3;
        height:70vw;
    }
    .r-winter-collections-items:nth-child(2) p{
        font-size:5vw;
        text-transform:uppercase;
        font-weight:600;
        font-family: 'Inter-Regular';
    }
    .r-winter-collections-items:nth-child(7){
        grid-row:5/6;
        grid-column:1/3;
    }
    .r-winter-collections-items img{
        height:100%;
        width:100%;
        object-fit:cover;
        padding:1vw;
    }
    /* ================winter-collections-end==================== */
    /* ==============natty-footer-section-start================= */
    .r-natty-footer{
        height:fit-content;
        width:100%;
        display:grid;
        grid-template-rows:repeat(8 ,auto);
        grid-template-columns:repeat(1,1fr);
        background-color:#fff;
        position:relative;
        z-index:2;
    }
    .natty-footer-logo{
        height:60vw;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
    .natty-footer-logo .logo{
        height:fit-content;
        width:fit-content;
        display:flex;
        position:absolute;
    }
    .natty-footer-logo .logo svg:first-child{
        height:30vw;
        width:30vw;
        animation-name:rotate-logo;
        animation-duration:20s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
        animation-delay:0s;
    }
    @keyframes rotate-logo{
        from{
            transform:rotate(0);
        }
        to{
            transform:rotate(360deg);
        }
    }
    .natty-footer-logo .logo svg:last-child{
        height:22vw;
        width:22vw;
        position:absolute;
        top:4vw;
        left:4vw;
    }
    .ten-percent-community{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .ten-percent-community .header{
        height:16vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        row-gap:10%;
        align-items:flex-start;
        padding-inline-start:5%;
        position:relative;
    }
    .ten-percent-community .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .ten-percent-community .header p:first-child{
        color:black;
        font-size:2.5vw;
        line-height:100%;
        text-transform:uppercase;
    }
    .ten-percent-community .header p:last-child{
        color:black;
        font-size:2.5vw;
        opacity:0.6;
        line-height:100%;
        text-transform:uppercase;
    }
    .collections{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .collections .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .collections .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        /* display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;
        row-gap: 4vw; */
        overflow:hidden;
    }
    .active .body{
        height:fit-content;
        padding-block-end:6%;
    }
    .collections .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .collections .body li:first-child{
        margin-block-start:0!important;
    }
    .collections .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
    }
    .collections .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .collections.active .header::before{
        content:"-";
    }
    .collections .header p{
        font-size:2.5vw;
        text-transform:uppercase;
        font-weight:700;
    }
    .customer-services{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .customer-services .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .customer-services .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .customer-services.active .header::before{
        content:"-";
    }
    .customer-services .header p{
        font-size:2.5vw;
        text-transform:uppercase;
        font-weight:700;
    }
    .customer-services .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        overflow:hidden;
    }
    .customer-services .body li:first-child{
        margin-block-start:0!important;
    }
    .customer-services .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .customer-services .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
    }
    .brand{
        height:fit-content;
        width:1005;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .brand .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        padding-left:5%;
        position:relative;
    }
    .brand .header::before{
        content:"+";
        font-size:5vw;
        font-weight:900;
        height:100%;
        width:12%;
        position:absolute;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .brand.active .header::before{
        content:"-";
    }
    .brand .header p{
        text-transform:uppercase;
        font-size:2.5vw;
        font-weight:700;
    }
    .brand .body{
        list-style-type:none;
        height:0;
        width:100%;
        list-style-type:none;
        padding-inline-start:7%;
        overflow:hidden;
    }
    .active .body{
        height:fit-content;
        padding-block-end:6%;
    }
    .brand .body li{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: flex-start;
        margin-block-start:4vw;
    }
    .brand .body li:first-child{
        margin-block-start:0!important;
    }
    .brand .body li a{
        color:black;
        text-decoration:none;
        text-transform:uppercase;
        font-size:2.3vw;
        line-height:100%;
    }
    .bottom-info{
        height:fit-content;
        width:100%;
        border-block-start:solid 0.1vw rgba(0,0,0,1);
    }
    .bottom-info .header{
        height:12vw;
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
    }
    .bottom-info .header a{
        text-decoration:none;
        text-transform:uppercase;
        color:#000;
        font-size:2.5vw;
        opacity:0.8;
    }
    .bottom-info .body{
        list-style-type:none;
        padding-block-end:6%;
    }
    .r-natty-footer .details{
        height:16vw;
        width:100%;
        border-top:solid 0.1vw rgba(0,0,0,1);
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items:center;
        padding-inline-end:5%;
    }
    .r-natty-footer .details a{
        font-size:2.2vw;
        text-transform:uppercase;
        color:#000;
    }
    .input-data input{
        height:100%;
        width:65%;
        outline:none;
        border:none;
        position:relative;
        padding-inline:5%;
    }
    .input-data input::placeholder{
        text-transform:uppercase;
        font-size: 0.6vw;
        opacity: 0.7;
        position:absolute;
        left:8%;
        top:50%;
        transform: translateY(-50%);
    }
    .input-data .button{
        height:100%;
        width:35%;
        background-color:#000000;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
    .input-data .button p{
        color:#ffffff;
        text-transform:uppercase;
        font-size: 0.6vw;
        font-family: 'Inter-Regular';
    }
    /* ==============natty-footer-section-end================= */
    /* ===============natty-footer-video-start================= */
    .natty-footer-video{
        height:70vw;
        width:100%;
        background-color:blue;
        position:sticky;
        bottom:0;
        z-index:1;
    }
    /* ===============natty-footer-video-start================= */
}